<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详细</title>
    <include file="common:css" />
	<script language="javascript" type="text/javascript" src="/Public/admin/My97DatePicker/WdatePicker.js"></script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">订单详细</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">订单详细</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                      <div class="box-body">
                        <!-- 中文网站信息 -->
                        <form class="form-horizontal" action="{:U('Admin/Orderlist/order_det')}"  toUrl="/Admin/Orderlist/orderlists.html" id="myform">
                          <div class="box-body">

                            <div class="form-group">
                              <label class="col-md-2 control-label">订单号:</label>
                              <div class="col-md-6">
                                {$data.sn}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">创建时间</label>
                              <div class="col-md-6">
                                {$data.addtime|date="Y-m-d H:i:s",###}
                              </div>
                            </div>

                             <div class="form-group">
                              <label class="col-md-2 control-label">当前状态:</label>
                              <div class="col-md-6" style="color: red">
                                  <if condition="$data.state eq 0">
                                  待支付
                                  </if>
                                  <if condition="$data.state eq 1">
                                  已支付
                                  </if>
                                  <if condition="$data.state eq 2">
                                  已发货
                                  </if>
                                  <if condition="$data.state eq 3">
                                  完成
                                  </if>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">商品信息:</label>
                              <div class="col-md-8" style="">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>名称</th>
                                          <th>缩略图</th>
                                          <th>价格</th>
                                          <th>数量</th>
										  <th>备注</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <volist name="pro" id="val"> 
                                        <tr>
                                          <td>{$val.name}</td>
                                          <td><img src="__PUBLIC__{$val.image}" width="50px" height="25px" alt=""></td>
                                          <td>{$val.price}</td>
                                          <td>{$val.guige}(规格) * {$val.num}(份)</td>
										  <td>{$val.cart_name}</td>
                                        </tr>
                                        </volist>
                                      </tbody>
                                    </table>
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label class="col-md-2 control-label">产品金额:</label>
                              <div class="col-md-6" style="color: red">
                                 ${$data.prices}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">快递金额:</label>
                              <div class="col-md-6" style="color: red">
                                 ${$data.prices_kuaidi|default='0'}
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-md-2 control-label">订单总金额:</label>
                              <div class="col-md-6" style="color: red">
                                <?php $data['prices']=$data['prices']+$data['prices_kuaidi']; ?>
                                 ${$data.prices}
                              </div>
                            </div>



                             <div class="form-group">
                              <label class="col-md-2 control-label">需求留言</label>
                              <div class="col-md-6">
                                {$data.message}
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-md-2 control-label">支付情况:</label>
                              <div class="col-md-6" style="color: blue">
                                 <?php if($data['pay']==1){ ?>
                                 <p>已支付 支付时间：{$data.pay_addtime|date="Y-m-d H:i:s",###}</p>
                                 <?php }else{ ?>
                                 <p>未支付</p>
                                 <?php } ?>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">支付类型:</label>
                              <div class="col-md-6" style="color: blue">
                                 {$data.payment}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">发票类型</label>
                              <div class="col-md-6">
                                <if condition="$data.fapiao eq 2">增值发票
                                <elseif condition="$data.fapiao eq 1"/>普通发票<else/>
                                不开发票
                                </if>
                              </div>
                            </div>

                            <?php if($data[fapiao]==2){ ?>
                            <div class="form-group">
                              <label class="col-md-2 control-label">发票类型</label>
                              <div class="col-md-6">
                                 <p>单位名称:{$data.companyname}</p> 
                                 <p>纳税人识别号:{$data.taxpayernumber}</p> 
                                 <p>注册地址:{$data.registeaddress}</p> 
                                 <p>注册电话:{$data.registetelephone}</p> 
                                 <p>开户银行:{$data.bank}</p> 
                                 <p>银行帐号:{$data.bankaccount}</p> 
                              </div>
                            </div>
                            <?php } ?>

                             <div class="form-group">
                              <label class="col-md-2 control-label">下单用户</label>
                              <div class="col-md-6">
                                {$data.member.username}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">下单用户会员号</label>
                              <div class="col-md-6">
                                {$data.member.number}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">配送方式:</label>
                              <div class="col-md-6">
                                <?php if($data['tihuo_type']!=1){ ?>
                                 <p>快递配送</p>
                                 <?php }else{ ?>
                                 <p>自提</p>
                                 <?php } ?>
                              </div>
                            </div>
                            <?php if($data['tihuo_type']!=1){ ?>
                            <div class="form-group">
                              <label class="col-md-2 control-label">收货人</label>
                              <div class="col-md-6">
                                {$data.addr.name}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">联系电话</label>
                              <div class="col-md-6">
                                {$data.addr.phone}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">收货地址</label>
                              <div class="col-md-6">
                                {$data.addr.province}{$data.addr.city}{$data.addr.district}{$data.addr.detail}
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">邮政编码</label>
                              <div class="col-md-6">
                                {$data.addr.youzheng}
                              </div>
                            </div>

                            <?php } ?>
                           
                            <div class="form-group">
                              <label class="col-md-2 control-label">快递名称</label>
                              <div class="col-md-6">
                                <input type="text" class="form-control" value="{$data.wuliuname}" name="wuliuname">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 control-label">快递号码：</label>
                              <div class="col-md-4">
                                <input type="text" class="form-control" value="{$data.wuliu}" name="wuliu">
                              </div>
							  <!--修改 20171214-->
							  <span><a href="http://www.kuaidi100.com/" target="_blank">查找快递信息</a></span>
							  <!--修改结束 20171214-->
                            </div>
                            
                            <div class="form-group">
                              <div class="col-md-offset-2 col-md-6">
                                <input type="hidden" name="iid" value="{$data.id}">
                                <input type="submit" class="btn btn-block btn-primary btn-flat" value=" 修改 "></input>
                                <input type="button" onclick="window.location.href='/Admin/Orderlist/orderlists.html'" class="btn btn-block btn-primary btn-flat" value=" 返回 " style="background: #616263" ></input>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>
    <include file="common:js" />
  </body>
</html>




